# Module 3: Data Structures Assignments
## Lesson 3.1: Lists
### Assignment 1: Creating and Accessing Lists

Create a list of the first 20 positive integers. Print the list.

### Assignment 2: Accessing List Elements

Print the first, middle, and last elements of the list created in Assignment 1.

### Assignment 3: List Slicing

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

### Assignment 4: List Comprehensions

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

### Assignment 5: Filtering Lists

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

### Assignment 6: List Methods

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

### Assignment 7: Nested Lists

Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 8: List of Dictionaries

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

### Assignment 9: Matrix Transposition

Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

### Assignment 10: Flattening a Nested List

Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

### Assignment 11: List Manipulation

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

### Assignment 12: List Zipping

Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

### Assignment 13: List Reversal

Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

### Assignment 15: List Intersection

Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [ ]:
lis=[x for x in range(1,21)]
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
print(lis[0],lis[len(lis)//2],lis[-1])

1 11 20

In [ ]:
print(lis[:5])

[1, 2, 3, 4, 5]

In [2]:
squares=[x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
lis1=[x for x in range(1,10)]
lis2=[x for x in lis1 if x%2==0]
print(lis2)

[2, 4, 6, 8]

In [7]:
lis=[1,4,3,6,7,2]
lis.sort(reverse=True)
print(lis)

[7, 6, 4, 3, 2, 1]

In [12]:
lis=[]
for i in range(3):
  a=list(map(int,input().split()))
  lis.append(a)
print(lis)

print(lis[1][2])

1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
students = [
    {"name": "shyam", "score": 90},
    {"name": "singha", "score": 67},
    {"name": "roy", "score": 88}
]
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Students sorted by score (descending):")
for student in sorted_students:
    print(student)

Students sorted by score (descending):
{'name': 'shyam', 'score': 90}
{'name': 'roy', 'score': 88}
{'name': 'singha', 'score': 67}

In [15]:
def transpose(matrix):
    return [[matrix[j][i] for j in range(3)] for i in range(3)]
original = []
for i in range(3):
  a=list(map(int,input().split()))
  original.append(a)
print("Original:")
for row in original:
    print(row)
transposed = transpose(original)
print("Transposed:")
for row in transposed:
    print(row)

1 2 3
4 5 6
7 8 9
Original:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [16]:
def flatten(nested):
    flatn = []
    for sublist in nested:
        flatn.extend(sublist)
    return flatn
nested_list = [[1, 5], [3,8], [5, 3]]
flat_list = flatten(nested_list)
print("Original:", nested_list)
print("Flattened:", flat_list)

Original: [[1, 5], [3, 8], [5, 3]]
Flattened: [1, 5, 3, 8, 5, 3]

In [19]:
nums = list(range(1, 11))
del nums[6]
del nums[4]
del nums[2]
nums.insert(5, 99)
print("Modified list:", nums)

Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

In [20]:
a = ['a', 'b', 'c']
b = [1, 2, 3]
zipped = list(zip(a, b))
print("Zipped list:", zipped)

Zipped list: [('a', 1), ('b', 2), ('c', 3)]

In [21]:
def reverse(lst):
    return lst[::-1]
original = [1, 2, 3, 4, 5]
reversed_lst = reverse(original)
print("Original:", original)
print("Reversed:", reversed_lst)

Original: [1, 2, 3, 4, 5]
Reversed: [5, 4, 3, 2, 1]

In [23]:
def rotate_list(lst, n):
    n = n % len(lst)
    return lst[n:] + lst[:n]
original = [1, 2, 3, 4, 5]
rotated = rotate_list(original, 2)
print("Original:", original)
print("Rotated:", rotated)

Original: [1, 2, 3, 4, 5]
Rotated: [3, 4, 5, 1, 2]

In [24]:
def intersect(list1, list2):
    return [x for x in list1 if x in list2]
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
common = intersect(a, b)
print("Intersection:", common)

Intersection: [3, 4]