# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
#assignment1
tuple1=(range(1,11))
print(tuple1)

range(1, 11)

In [ ]:
#assignent2
print(tuple1[0])
print(tuple1[4])
print(tuple1[-1])

1
5
10

In [ ]:
#assignment3
print(tuple1[:3])
print(tuple1[-3:])
print(tuple1[2:6])

range(1, 4)
range(8, 11)
range(3, 7)

In [ ]:
#assignment4
matrix=((1,2,3),(4,5,6),(7,8,9))
print(matrix)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
t1=(1,2,3)
t2=(4,5,6)
print(t1+t2)

(1, 2, 3, 4, 5, 6)

In [6]:
duptup=(1,2,3,4,4,3,2,1)
visited=[]
for i in duptup:
  if i in visited:
    print(i)
  else:
    visited.append(i)

4
3
2
1

In [7]:
#assignment7
tup=(1,2,3,4,5)
a,b,c,d,e=tup
print(a,b,c,d,e)

1 2 3 4 5

In [11]:
lis=[x for x in range(1,6)]
tup=tuple(lis)
print(tup)

(1, 2, 3, 4, 5)

In [12]:
#assi9
tup=(('a','b','c'),('d','e','f'),('g','h','i'))
print(tup)

(('a', 'b', 'c'), ('d', 'e', 'f'), ('g', 'h', 'i'))

In [13]:
#10
lis=[x for x in range(1,6)]
tup=tuple(lis)
lis.append(6)
tup=tuple(lis)
print(tup)

(1, 2, 3, 4, 5, 6)

In [15]:
#11
string="shankar"
tup=tuple(string)
print(tup)

('s', 'h', 'a', 'n', 'k', 'a', 'r')

In [16]:
#12
dic={tup:(1,2,3)}
print(dic)

{('s', 'h', 'a', 'n', 'k', 'a', 'r'): (1, 2, 3)}

In [18]:
#13
tup=((1,5,3),(4,5,6),(0,8,9))
for i in tup:
  print(i)

(1, 5, 3)
(4, 5, 6)
(0, 8, 9)

In [19]:
#assi14
duptup=(1,2,3,4,4,3,2,1)
visited=[]
for i in duptup:
  if i in visited:
    print(i)
  else:
    visited.append(i)

4
3
2
1

In [22]:
#15
def fun(t1):
  return f"Min: {min(t1)},Max: {max(t1)},Sum: {sum(t1)}"
tup=(1,4,32,5,6)
print(fun(tup))

Min: 1,Max: 32,Sum: 48