# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

ASSIGNMENT 1

In [9]:
my_dict = {}
for i in range(1, 11):
    my_dict[i] = i**2
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

ASSIGNMENT 2

In [2]:
print(my_dict[5])
print(my_dict.keys())

25
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

ASSIGNMENT 3

In [10]:
my_dict.update({11: 121})
my_dict.pop(1)
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

ASSIGNMENT 4

In [12]:
for i in my_dict:
    print("key",i, "value", my_dict[i])

key 2 value 4
key 3 value 9
key 4 value 16
key 5 value 25
key 6 value 36
key 7 value 49
key 8 value 64
key 9 value 81
key 10 value 100
key 11 value 121

ASSIGNMENT 5

In [13]:
dictt={i:i**3 for i in range(1,11)}
print(dictt)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

ASSIGNMENT 6

In [15]:
dict1={i:i**2 for i in range(1,6)}
dict2={i:i**2 for i in range(6,11)}
updated={**dict1,**dict2}
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

ASSIGNMENT 7

In [16]:
student={"name":"shankar","age":22,
         "grade":{"math":90,"science":80,"english":95}}
print(student)

{'name': 'shankar', 'age': 22, 'grade': {'math': 90, 'science': 80, 'english': 95}}

ASSIGNMENT 8

In [17]:
diict = {}
for i in range(1, 6):
    multiples = [i * j for j in range(1, 6)]
    diict[i] = multiples
print(diict)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

ASSIGNMENT 9

In [23]:
diict = {}
for i in range(1, 6):
    diict[i]=(i,i**2)
print(diict)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

ASSIGNMENT 10

In [24]:
sqd={i:i**2 for i in range(1,6)}
sqd=list(sqd.items())
print(sqd)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

ASSIGNMENT 11

In [25]:
dictt={i:i**2 for i in range(1,11)}
new_dict={k:v for k,v in dictt.items() if k%2==0}
print(new_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

ASSIGNMENT 12

In [26]:
dictt={i:i**2 for i in range(1,6)}
new_dict={v:k for k,v in dictt.items()}
print(new_dict)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

ASSIGNMENT 13

In [27]:
#assign 13
default_dict={1:[],2:[],3:[],4:[],5:[]}
default_dict[1].append(1)
default_dict[2].append(2)
default_dict[3].append(3)
default_dict[4].append(4)
default_dict[5].append(5)
print(default_dict)

{1: [1], 2: [2], 3: [3], 4: [4], 5: [5]}

ASSIGNMENT 14

In [28]:
def count(s):
    char_count = {}
    for char in s:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

    return char_count

input_str = "hello world"
result = count(input_str)
print(result)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

ASSIGNMENT 15

In [29]:
import json

book = {
    'title': 'To Kill a Mockingbird',
    'author': 'Harper Lee',
    'year': 1960,
    'genre': 'Fiction'
}

book_json = json.dumps(book)
print(book_json)

{"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960, "genre": "Fiction"}