# Module 4: Functions Assignments
## Lesson 4.1: Defining Functions
### Assignment 1: Simple Function

Define a function that takes a single integer as input and returns its square. Test the function with different inputs.

### Assignment 2: Multiple Arguments

Define a function that takes two integers as input and returns their sum. Test the function with different inputs.

### Assignment 3: Default Arguments

Define a function that takes two integers as input and returns their sum. The second integer should have a default value of 5. Test the function with different inputs.

### Assignment 4: Keyword Arguments

Define a function that takes three named arguments: first_name, last_name, and age, and returns a formatted string. Test the function with different inputs.

### Assignment 5: Variable-length Arguments

Define a function that takes a variable number of integer arguments and returns their product. Test the function with different inputs.

### Assignment 6: Nested Functions

Define a function that contains another function inside it. The outer function should take two integers as input and return the result of the inner function, which multiplies the two integers. Test the function with different inputs.

### Assignment 7: Returning Multiple Values

Define a function that takes a single integer as input and returns the integer squared, cubed, and raised to the power of four. Test the function with different inputs.

### Assignment 8: Recursive Function

Define a recursive function that calculates the factorial of a given number. Test the function with different inputs.

### Assignment 9: Lambda Function

Define a lambda function that takes two integers as input and returns their sum. Test the lambda function with different inputs.

### Assignment 10: Map Function

Use the map function to apply a lambda function that squares each number in a list of integers. Test with different lists.

### Assignment 11: Filter Function

Use the filter function to filter out all odd numbers from a list of integers. Test with different lists.

### Assignment 12: Function Decorator

Define a decorator function that prints 'Executing function...' before executing a function and 'Function executed.' after executing it. Apply this decorator to a function that takes a list of integers and returns their sum. Test the decorated function with different lists.

### Assignment 13: Function with *args and **kwargs

Define a function that takes variable-length arguments and keyword arguments and prints them. Test the function with different inputs.

### Assignment 14: Higher-Order Function

Define a higher-order function that takes a function and a list of integers as arguments, and applies the function to each integer in the list. Test with different functions and lists.

### Assignment 15: Function Documentation

Define a function with a docstring that explains what the function does, its parameters, and its return value. Print the function's docstring.

ASSIGNMENT 1

In [ ]:
#assign 1
def squ(inp):
  return inp**2
print(squ(5))
print(squ(3))
print(squ(9))

25
9
81

ASSIGNMENT 2

In [ ]:
def summ(inp1,inp2):
  return inp1+inp2
print(summ(5,3))
print(summ(3,9))

8
12

ASSIGNMENT 3

In [ ]:
def summ(inp1,inp2=5):
  return inp1+inp2
print(summ(5,3))
print(summ(3,9))

8
12

ASSIGNMENT 4

In [ ]:
def edit_info(first_name, last_name, age):
    return f"{first_name} {last_name} is {age} years old."
print(edit_info(first_name="shyam", last_name="singha", age=25))
print(edit_info(first_name="rosy", last_name="roy", age=40))
print(edit_info(first_name="hema", last_name="sankar", age=19))

shyam singha is 25 years old.
rosy roy is 40 years old.
hema sankar is 19 years old.

ASSIGNMENT 5

In [ ]:
def prod(**args):
  product=1
  for i in args.values():
    product*=i
  return product
print(prod(a=5,b=3,c=9))
print(prod(a=3,b=9))

135
27

ASSIGNMENT 6

In [ ]:

def outer(inp1,inp2):
  def inner(inp1,inp2):
    return "inner function",inp1*inp2
  return inner(inp1,inp2)
print(outer(5,3))
print(outer(3,9))

('inner function', 15)
('inner function', 27)

ASSIGNMENT 7

In [ ]:
def pow(inp1):
  return f"sq: {inp1**2}, cub: {inp1**3} , four: {inp1**4}"
print(pow(5))
print(pow(3))

sq: 25, cub: 125 , four: 625
sq: 9, cub: 27 , four: 81

Assignent 8

In [2]:
def fact(inp1):
  if inp1==1 :
    return 1
  return inp1*fact(inp1-1)
print(fact(5))
print(fact(3))

120
6

Assignment 9

In [3]:
summ=lambda x,y:x+y
print(summ(2,3))
print(summ(8,8))

5
16

Assignment 10

In [4]:
def square_list(numbers):
    return list(map(lambda x: x ** 2, numbers))
print(square_list([1, 2, 3, 4, 5]))
print(square_list([5, 6, 7, 8, 9]))

[1, 4, 9, 16, 25]
[25, 36, 49, 64, 81]

Assignment 11

In [5]:
def filter_even(numbers):
    return list(filter(lambda x: x % 2 == 0, numbers))
print(filter_even([1, 2, 3, 4, 5]))
print(filter_even([5, 6, 7, 8, 9]))

[2, 4]
[6, 8]

Assignment 13

In [8]:
def display_arguments(*args, **kwargs):
    print("Positional arguments (args):", args)
    print("Keyword arguments (kwargs):", kwargs)
display_arguments(1, 2, 3, name="shankar", age=25)

Positional arguments (args): (1, 2, 3)
Keyword arguments (kwargs): {'name': 'shankar', 'age': 25}

Assignment 14

In [9]:
def apply_function(func, numbers):
    return [func(n) for n in numbers]
def square(x):
    return x ** 2

def double(x):
    return x * 2

def negate(x):
    return -x

print(apply_function(square, [1, 2, 3, 4]))
print(apply_function(double, [5, 6, 7]))

[1, 4, 9, 16]
[10, 12, 14]

Assignment 15

In [10]:
def add_numbers(a, b):
    """
    Adds two integers and returns the result.

    Parameters:
    a (int): The first integer.
    b (int): The second integer.

    Returns:
    int: The sum of a and b.
    """
    return a + b

print(add_numbers.__doc__)

    Adds two integers and returns the result.

    Parameters:
    a (int): The first integer.
    b (int): The second integer.

    Returns:
    int: The sum of a and b.