# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

ASSIGNMENT 1

In [ ]:
#assign 1
set1={x for x in range(1,11)}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

ASSIGNMENT 2

In [ ]:
set1.add(11)
set1.remove(1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

ASSIGNMENT 3

In [ ]:
set1={1,2,3,4,5}
set2={2,4,6,8,10}
print("UNION",set1.union(set2))
print("INTERSECTION",set1.intersection(set2))
print("DIFFERENCE",set1.difference(set2))
print("SYMMETRIC_DIFFERENCE",set1.symmetric_difference(set2))

UNION {1, 2, 3, 4, 5, 6, 8, 10}
INTERSECTION {2, 4}
DIFFERENCE {1, 3, 5}
SYMMETRIC_DIFFERENCE {1, 3, 5, 6, 8, 10}

ASSIGNMENT 4

In [ ]:
sq_set={x**2 for x in range(1,11)}
print(sq_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

ASSIGNMENT 5

In [ ]:
set1={x for x in range(1,11)}
even_set={x for x in set1 if x%2==0}
print(even_set)

{2, 4, 6, 8, 10}

ASSIGNMENT 6

In [ ]:
dup_set={1,2,3,4,5,6,5,4,3,2,1}
print(dup_set)

{1, 2, 3, 4, 5, 6}

ASSIGNMENT 7

In [ ]:
s1={1,2,3,4,5}
s2={1,2,3}
print(s2.issubset(s1))
print(s1.issuperset(s2))

True
True

ASSIGNMENT 8

In [ ]:
fs=frozenset({1,2,3,4,5})
print(fs)

frozenset({1, 2, 3, 4, 5})

ASSIGNMENT 9

In [ ]:
set1={1,2,3,4,5}
list1=list(set1)
list1.append(6)
print(type(list1))
set2=set(list1)
print(type(set2))
print(set2)

<class 'list'>
<class 'set'>
{1, 2, 3, 4, 5, 6}

ASSIGNENT 10

In [ ]:
d = {
    frozenset({1, 2}): {3, 4},
    frozenset({5, 6}): {7, 8}
}
print(d.values())

dict_values([{3, 4}, {8, 7}])

ASSIGNMENT 11

In [ ]:
new={1,2,3,4,5,6,7,8,9}
for i in new:
  print(i)

1
2
3
4
5
6
7
8
9

ASSIGNMENT 12

In [ ]:
SET_EMP={x for x in range(11)}
for i in range(len(SET_EMP)):
  SET_EMP.remove(i)
  print("remaning elements:",SET_EMP)
print(SET_EMP)

remaning elements: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
remaning elements: {2, 3, 4, 5, 6, 7, 8, 9, 10}
remaning elements: {3, 4, 5, 6, 7, 8, 9, 10}
remaning elements: {4, 5, 6, 7, 8, 9, 10}
remaning elements: {5, 6, 7, 8, 9, 10}
remaning elements: {6, 7, 8, 9, 10}
remaning elements: {7, 8, 9, 10}
remaning elements: {8, 9, 10}
remaning elements: {9, 10}
remaning elements: {10}
remaning elements: set()
set()

ASSIGNENT 13

In [ ]:
set1={1,5,4,3,6}
set2={1,6,5,8,9}
set1.symmetric_difference_update(set2)
print(set1)

{3, 4, 8, 9}

ASSIGNMENT 14

In [ ]:
set1={1,2,3,5,7,10,43}
numbers=[4,3,1,0,7,6]
for i in numbers:
  if i in set1:
    print(f"{i} is found in set")
  else:
    print(f"{i} not found in set")

4 not found in set
3 is found in set
1 is found in set
0 not found in set
7 is found in set
6 not found in set

ASSIGNMENT 15

In [ ]:
set1={(1,2),(3,4),(4,5),(6,7)}
print(set1)

{(6, 7), (4, 5), (1, 2), (3, 4)}